.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    max-width: 360px;
    padding: 0;
    margin: 0;
}

@media (min-width: 461px) and (max-width: 690px) {
    .cover__subtitle {
        font-size: 16px;
        line-height: 18px;
    }
}

@media (min-width: 320px) and (max-width: 460px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}