.header {
    width: 90%;
    max-width: 1184px;
    display: -webkit-box;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}