.places__text-wrapper {
    width: calc(50% - 8px);
    display: -webkit-box;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

@media (max-width: 767px) {
    .places__text-wrapper {
        width: 90%;
        padding-left: 0;
        margin: 0 auto;
    }
}