.lead__image {
    height: 615px;
    margin: 0 auto;
    margin-bottom: 8px;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .lead__image {
        height: 580px;
    }
}

@media (max-width: 1023px) {
    .lead__image {
        width: 100%;
        height: auto;
    }
}