.places__content-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

@media (max-width: 767px) {
    .places__content-wrapper {
        flex-direction: column;
    }
}