.places__place {
    max-width: 984px;
    display: -webkit-box;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 80px;
}

.places__place:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .places__place {
        max-width: 928px;
    }
}

@media (max-width: 1023px) {
    .places__place {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .places__place {
        max-width: 720px;
        margin-bottom: 73px;
    }
}

@media (max-width: 568px) {
    .places__place {
        margin-bottom: 50px;
    }
}