.cover__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    max-width: 560px;
}

@media (min-width: 461px) and (max-width: 690px) {
    .cover__title {
        font-size: 52px;
        line-height: 56px;
    }
}

@media (min-width: 321px) and (max-width: 460px) {
    .cover__title {
        font-size: 34px;
        line-height: 36px;
    }
}

@media (max-width: 320px) {
    .cover__title {
        margin-bottom: 16px;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}