/*** PLACE ***/

.place {
  display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    margin: 0;
    padding:0 0 80px 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
    padding: 0 0 73px 0;
  }
}

@media screen and (max-width: 620px) {
  .place {
    grid-template-columns: 100%;
    gap: 16px;
    padding: 0 0 50px 0;
  }
}