.places__website {
    display: -webkit-box;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    width: calc(50% - 8px);
    padding-left: 50px;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .places__website {
        padding-left: 0;
        margin-bottom: 32px;
    }
}